[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
pypdf = "*"
langchain-openai = "*"
langchain-community = "*"
langchainhub = "*"
faiss-cpu = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.10"
